* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: #fff9f7;
  color: #444444;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  padding-left: 5vh;
  padding-right: 5vh;
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 3rem;
}

.box {
  border: 1px solid black;
  margin-top: 1.5rem;
  /* margin: 10% 10%; */
}

.title-wrap {
  margin-bottom: 0.5em;
}

.title {
  color: #cb8522;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

.subtitle {
  color: #444444;
  font-size: 1.2rem;
  text-align: center;
}
.grid-wrap {
  padding: 5%;
  /* border: 1px solid green; */
}
.gride {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 5%;
  /* background-color: rgb(140, 178, 178); */
}

.coffee-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}

.coffee-img {
  margin-bottom: 0.6em;
  width: 40%;
}
.coffee-name {
  color: #cb8522;
  font-size: 1rem;
  margin-bottom: 0.2em;
  font-weight: 700;
}
.coffee-info {
  font-size: 0.9rem;
  text-align: center;
  width: 25ch;
  line-height: 1.1;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.page a {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  background-color: antiquewhite;
}

/* @media screen and (max-width: 600px) {
  body {
    padding: 0;
  }
  iframe {
    margin: 0;
  }
}

~792 - 1column
~1507 - 2column
1507~  - 3column
phone -375 */

@media (792px <= width <= 1507px) {
  .gride {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5 1fr);
  }
}

@media (width <= 792px) {
  .gride {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9 1fr);
    row-gap: 3rem;
  }
}
