* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  /* background-image: url("https://www.betterteam.com/images/barista-job-description-5472x3648-20201118.jpeg?crop=21:16,smart&width=420&dpr=2"); */
  background-repeat: no-repeat;
}

.contact {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 5vh;
}

main {
  margin: 20px 0;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  width: 100%;
  margin-bottom: 10px;
}

ul {
}
ul li {
  display: flex;
  justify-content: center;

  padding: 2px;
  margin: 2px;
}
.pic {
  width: 50px;
  height: 50px;
}

.pic img {
  width: 100%;
  object-fit: contain;
}
.address {
  margin: 4%;
}
.address p {
  margin: 10px;
  display: flex;
}

footer {
  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  background-color: bisque;
  width: 100%;
}

iframe {
  margin: 2vh 0;
}
