* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: antiquewhite;
}

main {
  /* display: block; */
  background-color: aquamarine;
}
form {
  display: flex;
  flex-direction: column;
}
footer {
  background-color: rosybrown;
}
