* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff9f7;
  color: #444444;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 3rem;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.page a {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  background-color: antiquewhite;
  color: #444444;
  transition: background-color 0.3s;
  font-weight: 600;
}

.page a:hover,
.page a:active {
  background-color: #cb8522;
}

.box {
  border: 1px solid black;
  margin-top: 1.5rem;
}

.contact {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 5vh;
}

header {
  margin-bottom: 0.5em;
}

header > h1 {
  color: #cb8522;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

header > p {
  color: #444444;
  font-size: 1.2rem;
  text-align: center;
}

main {
  margin-top: 2%;
  border: 1px solid black;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.form input {
  width: 100%;
  margin-bottom: 10px;
}

ul li {
  display: flex;
  justify-content: center;
  padding: 2%;
  margin: 5%;
  height: 100px;
}
.pic {
  width: 100px;
}

.pic img {
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
  border: 2px paleturquoise solid;
}
.info p:first-child {
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 20px;
  color: black;
}

.info p:last-child {
  color: gray;
}

.map {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 0;
  background-color: bisque;
}

.address {
  margin: 5%;
}
.address p {
  margin: 10px;
  display: flex;
}

iframe {
  margin: 3vh 0;
}

@media (width <= 792px) {
  .container {
    padding: 0 30px;
  }
  .pic {
    width: 200px;
  }
  .info p:first-child {
    text-align: center;
  }
  .info p:last-child {
    visibility: hidden;
  }
  main {
    margin-top: 24px;
  }

  .form {
    border: 1px solid red;
  }

  form,
  textarea {
    width: 100%;
  }
}
